@font-face {
    font-family: 'UTM_HelvetIns';
    src: url('../fonts/UTMHelvetIns.eot');
    src: url('../fonts/UTMHelvetIns.eot') format('embedded-opentype'), url('../fonts/UTMHelvetIns.woff')
    format('woff2'), url('../fonts/UTMHelvetIns.woff') format('woff'), url('../fonts/UTMHelvetIns.ttf')
    format('truetype'), url('../fonts/UTMHelvetIns.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto_Bold';
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf')  format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUFuturaBold';
  src: url('../fonts/SFUFuturaBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFUFuturaBold.woff') format('woff'), url('../fonts/SFUFuturaBold.ttf')  format('truetype'), url('../fonts/SFUFuturaBold.svg#SFUFuturaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans_Regular';
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf')  format('truetype'), url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover,
a:focus {
    color: #0d7cd6;
    text-decoration: none;
}

* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.fixed {
    position: fixed !important;
    top: 0px;
    z-index: 99;
    width: 100%;
}
.clearfix-130{
    clear: both;
    height: 130px;
}
.clearfix-100{
    clear: both;
    height: 100px;
}
.clearfix-80{
    clear: both;
    height: 80px;
}
.clearfix-60{
    clear: both;
    height: 60px;
}
.clearfix-55{
    clear: both;
    height: 55px;
}
.clearfix-50{
    clear: both;
    height: 50px;
}
.clearfix-45{
    clear: both;
    height: 45px;
}
.clearfix-40{
    clear: both;
    height: 40px;
}
.clearfix-35{
    clear: both;
    height: 35px;
}
.clearfix-30{
    clear: both;
    height: 30px;
}
.clearfix-32{
    clear: both;
    height: 32px;
}
.clearfix-25{
    clear: both;
    height: 25px;
}
.clearfix-20{
    clear: both;
    height: 20px;
}
.clearfix-15{
    clear: both;
    height: 15px;
}
.clearfix-12{
    clear: both;
    height: 12px;
}
.clearfix-10{
    clear: both;
    height: 10px;
}
.clearfix-5{
    clear: both;
    height: 5px;
}

body {
    background: #fff;
    font-size: 12px;
    font-family: arial;
    color: #000;
}

del {
    font-size: 12px;
    color: #999;
}

/*===========All=============*/
.w_100 {
    width: 100%;
}

.w_40 {
    width: 40%;
}

.w_60 {
    width: 60%;
}

/*==========Main============*/
.menu_mb{
    position: fixed;
    width: 100%;
    background: #ffffff;
    z-index: 999;
    padding: 1px 15px;
    border-bottom: 1px solid #ccc;
}
#go_top {
    position: fixed;
    width: 24px;
    height: 25px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
    background-size: 100% 100%;
    display: inline-block;
    z-index: 100;
    bottom: 25px;
    right: 25px;
}
.img_logo_mb{
    max-height: 60px;
    max-width: 70%
}
.menu_main .nav.is-fixed{
    position: relative;
    z-index: 105;
}
/*----------------------------header--------------------------------*/
.logo_pc a {
    float: left;
}
.logo_pc .txt_logo_pc {
    font-size: 24px;
    font-family: 'SFUFuturaBold';
    color: #333333;
   text-transform: uppercase;
   display: block;
   float: left;
   margin-top: 6px;

}
.logo_pc img {
    margin-right: 20px;
}
.logo_pc {
    margin: 5px 0;
}
.list-unstyled ul li {
   display: inline-block;
    margin-right: 15px;
}
.list-unstyled ul li:last-child {
    margin:0;
}
.list-unstyled ul li a {
    font-size: 14px;
    font-family: 'OpenSans_Regular';
    color: #333333;
    display: inline-block;
}
.list-unstyled ul li a:hover {
    text-decoration: underline;
}
.list-unstyled ul  {
    margin:22px 0;
}
.qts_head_top {
    padding: 0 75px;
}
.box_button_head_mid ul{
    display: flex;
}
.box_button_head_mid ul li {
    display: inline-block;
    width: 18%;
    float: left;
    background: #6699ff;
    text-align: center;

}
.box_button_head_mid ul li a{
    display: block;
     padding:16px 0;
}
.box_button_head_mid ul li a img {
    height: 82px;
    margin-bottom: 12px;
    width: auto;

}
.box_button_head_mid ul li a span {
    display: block;
    font-size: 17px;
    font-family: 'Roboto_Bold';
    color: #fff;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.box_button_head_mid ul li:nth-child(2) {
    background: #ffcc33;
}
.box_button_head_mid ul li:nth-child(3) {
    background: #cc66ff;
}
.box_button_head_mid ul li:nth-child(4) {
    background:#33ad85;
}
.box_button_head_mid ul li:nth-child(5) {
    background: #d65c5c;
}

.box_button_head_mid ul li:hover {
    background: #557cca;
    transition: all 0.5s;
}
.box_button_head_mid ul li:nth-child(2):hover {
    background: #c7a028;
}
.box_button_head_mid ul li:nth-child(3):hover {
    background: #a454cc;
}
.box_button_head_mid ul li:nth-child(4):hover {
    background: #227359;
}
.box_button_head_mid ul li:nth-child(5):hover {
    background: #9c4141;
}

/*========================doanhnghiep===============================*/
.doanhnghiep .box_doanhnghiep .tit_doanhnghiep a{
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Roboto_Bold';
    color: #000;
    margin-bottom: 15px;
}


.list_danhsach_tkdn .tit_list_tkdn {
        width: 100%;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    color: #CA0702;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0;
}
.list_danhsach_tkdn ul  {
    margin-left: 15px;
}
.list_danhsach_tkdn ul li {
    list-style: unset;
    list-style-position: inside;
    line-height: 29px;
}
.list_danhsach_tkdn ul li a {
    font-size: 14px;
    color: #000;
    font-family: 'OpenSans_Regular';
}
.list_danhsach_tkdn ul li a span {
    font-weight: bold;
    color: darkred;
}
.list_danhsach_tkdn h4 {
    font-size: 14px;
    color: #000;
    font-family: 'OpenSans_Regular';
    margin-left: 15px;
    line-height: 1.5;
}
.list_danhsach_tkdn h4 span {
     font-weight: bold;
    color: darkred;
}
.doanhnghiep .box_doanhnghiep .list_button_dn a {
    padding: 10px 20px;
    white-space: normal;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 443px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	height:82px;
}
/*-----------------------------------------------------------------*/
/*=========================ketnoi-------------------------------*/
.ketnoi .tit_ketnoi a{
display: inline-block;
font-weight: 700;
font-size: 1.5rem;
color: #000;
text-transform: uppercase;
}
.ketnoi .list_ketnoi ul li {
        float: left;
    margin-right: 68px;
    margin-bottom: 25px;
}
.ketnoi .list_ketnoi ul li a{
    display: block;
    border: 1px solid #ccc;
}
.ketnoi .list_ketnoi ul li a img {
    width: 129px;
    height: 59px;
}
.ketnoi .list_ketnoi ul li a:hover img {
    opacity: 0.8;
}
.box_ketnoi .btn_ketnoi {
   padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
   /* margin-bottom: 15px;
    border-radius: 4px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 106px;
    text-align: center;
    
}
.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.box_ketnoi .btn_ketnoi:hover {
    color: #fff;
}
/*====================================================================*/

/* ngÆ°á»i dÃ¢n  ----->*/

.box_ng_dan .list_button_dn a{
  max-width: inherit!important;
}
.title_form {
  margin-top: 15px;
  padding: 10px 10px 10px;
  border: solid 1px #0b9ac4;
  background-color: #ebf1fd;
  font-size: 14px;
  font-weight: bold;
}
.list-unstyled i{
  font-size: 20px;
}
.form_nd{
      border: solid 1px #0b9ac4;
      padding:20px 25px;
      margin-top:25px;
}
.btn_nd{
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
}
.btn_nd:hover{
  color: #fff;
}
.text_news a img {
    float: left;
    margin-right: 20px;
    width: 100%;
    max-width: 297px;
    height: 209px;
}
.sub_news {
    overflow: hidden;
    text-align: justify;
}

.news_left h2 {
font-size: 26px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    /* padding-top: 7px; */
    margin-bottom: 20px;
    background: url(../img/img2.jpg);
    background-repeat: no-repeat;
    padding: 10px;
}
.ul_news li{
    list-style-type: disc;
    list-style-position: inside;
}
.sub_news h3{
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    margin-top: 20px;
}
p.content{
    font-size: 14px;
    line-height: 20px;
    height: 65px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.table_right table{
    width: 100%;
}
.ul_news li p{
    font-size: 12px;
    font-style: italic;
    color: #ccc;
}
.ul_news li a{
    font-size: 14px;
}

.style_news {
    border: 2px solid lightgray;
    /*padding: 100px;*/
    /*background: linen;*/
}
.style_news ul{
    background: linen;
}
article#body_home {
    margin-top: 20px;
}
ul.ul_news {
    height: 500px;
}
.news {
    background: linen;
    padding: 10px;
}

.table thead tr th{
    width: 100px;
}
.tab-content {
    background: #fff;
    height: 426px;
    overflow: auto;
}
.style_news ul li a:hover {
    background: #7CAFD4;
    margin-left: 0px;
    border-color: transparent;
    border-radius: 0px;
    color: #fff;
}
/******************************end co quan chuyen mon************************************************/

/*header*/
.qts_head_top,#body_home{
    padding:0 75px;
}
.logo_pc {
    margin: 5px 0;
}
.logo_pc img {
    margin-right: 10px;
    width: 50px;
}
.logo_pc .txt_logo_pc {
    font-size: 24px;
    font-family: 'SFUFuturaBold';
    color: #333333;
    text-transform: uppercase;
    display: block;
    float: left;
    margin-top: 6px;
}
.list-unstyled ul {
    margin: 22px 0;
}
.list-unstyled ul li {
    display: inline-block;
    margin-right: 15px;
}
.list-unstyled ul li a {
    font-size: 14px;
    font-family: 'OpenSans_Regular';
    color: #333333;
    display: inline-block;
}
.logo_pc a {
    float: left;
}
.text_news{
    margin-bottom: 50px;
}



/*bao cao thong ke*/
.tab_col1 {
    width: 5%;
    text-align: center;
}
th.tab_col2 {
    color: #000;
}
.tab_col2 {
    width: 55%;
    text-align: center;
    text-transform: uppercase;
    color: #df0022;
    font-weight: bold;
}
.tab_col3 {
    width: 15%;
    text-align: center;
}
.tab_col4 {
    width: 15%;
    text-align: center;
}
.tab_col5 {
    background: white;
    text-align: center;
}
td.tab_col5 a {
    background-image: url(../img/bg_tb.png);
    float: right;
    height: 40px;
    width: 40px;
}
/*end bao cao thong ke*/

/*van ban dieu hanh*/

td.vb_5 a {
    background-image: url(../img/download.jpg);
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    float: left;
}

.table-responsive {
    height: 600px;
} 
.units ul li{
    list-style-type: decimal;
    list-style-position: inside;
}
.units ul {
    column-count: 2;
    /* padding-left: 10px; */
    background: #FAF0E6;
    padding: 20px;
}
.units ul li a {
    margin-left: 10px;
    font-size: 14px;
    line-height: 26px;
}
.units {
    margin-bottom: 20px;
    /* padding: 10px; */
}
.assets_paragraph .assets_item1 {
    background: #5bc0de;
}

.assets_paragraph .assets_item2{
    background: #5cb85c;
}

.assets_paragraph .assets_item3{
    background: #5cb85c;
}

.assets_paragraph .assets_item4{
    background: #5bc0de;
}