body{
    background: #fbfbfb;
    font-family: arial;
    padding: 5px;
}
.col-80{
    width:8%;
    float:left;
    padding:0px 3px;
}
.col-120{
    width:12%;
    float:left;
    padding:0px 3px;
}
.col-110{
    width:11%;
    float:left;
    padding:0px 3px;
}
.col-330{
    width:33%;
    float:left;
    padding:0px 3px;
}
.col-200{
    width:20%;
    float:left;
    padding:0px 3px;
}
.col-500{
    width:50%;
    float:left;
    padding:0px 3px;
}
.col-220{
    width:22%;
    float:left;
    padding:0px 3px;
}
.col-r260{
    width:26%;
    float:right;
    padding:0px 3px;
}
.col-660{
    width:66%;
    float:left;
    padding:0px 3px;
}
.col-440{
    width:44%;
    float:left;
    padding:0px 3px;
}
.col-130{
    width:13%;
    float:left;
    padding:0px 5px;
}
.col-150{
    width:15%;
    float:left;
    padding:0px 5px;
}
.col-300{
    width:30%;
    float:left;
    padding:0px 5px;
}
.col-330{
    width:33%;
    float:left;
    padding:0px 5px;
}
.col-450{
    width:45%;
    float:left;
    padding:0px 5px;
}
.col-920{
    width:92%;
    float:left;
    padding:0px 5px;
}
.clearfix{
    clear:both;
}
.clearfix-6{
    padding-top: 6px;
    clear: both;
}
.clearfix-10{
    padding-top: 10px;
    clear: both;
}
.clearfix-20{
    padding-top: 20px;
    clear: both;
}
.row_3{
    margin: 0 -3px;
}
.margin-6{
    margin: 6px 0px;
}
.padding-top-6{
    padding-top:6px;
}

/*=========================================*/
.title_home{
    font-weight: unset;
    color: #54aaf5;
    font-size: 2vw;
}
.bg_fff{
    background: #fff;
    border: 1px solid #e4e4e4;
    height: 130px;
    overflow-x: hidden;
}
.bg_fff_2{
    background: #fff;
    border: 1px solid #e4e4e4;
    height: 630px;
    overflow-x: hidden;
}
.box_1{
    font-size: 1.35vw;
    color: #fff;
    font-weight: bold;
    background: red;
    text-align: center;
    padding: 5px 0px;
}
.box_2{
    font-size: 1.5vw;
    color: #fff;
    font-weight: bold;
    background: url('../img/background_1.png');
    background-size: cover;
    text-align: center;
    padding: 5px 0px;
    padding-top: 180px;
    height: 100%;
}
.box_3{
    font-size: 1.35vw;
    color: #fff;
    font-weight: bold;
    background: url('../img/background_1.png');
    text-align: center;
    padding: 5px 0px;
}
.group_box_1,.group_box_4{
    padding: 30px 10px 5px 10px;
}
.group_box_2{
    position: relative;
    padding: 30px 0px 5px 5px ;
}
.group_box_2 p{
    margin-bottom: 2px;
}
.group_box_2 .text_1{
    text-align: center;
    font-size: 0.8vw;
    font-weight: bold;
    height: 30px;
    margin-bottom: 6px;
    color: #989898
}
.group_box_2 .text_1 i{
    color: #6dd24c;
}
.group_box_2 .text_2 {
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    color: #6dd24c;
}
.group_box_2 .text_3{
    margin-top: -6px;
    font-size: 0.5vw;
}
.group_box_2 .text_3 span{
    color: #6dd24c;
}
.color_red p{
    color: red !important;
}
.percentCount{
    display: none;
}
.group_box_3{
    border: none;
}
.group_box_3 .text_1{
    font-size: 0.70vw;
    border: 1px solid #e4e4e4;
    margin: 0;
    font-weight: bold;
    color: #929292;
    padding: 9px;
}
.group_box_3 .text_3{
    display: inline-block;
    width: 100%;
    padding: 0.2vw 0vw;
    margin: 10px 0px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #e4e4e4;
}
.group_box_3 .text_3 div{
    width: 0.5vw;
    height: 0.5vw;
    margin: auto;
    background: #969696;
    display: inline-block;
    border-radius: 50%;
}
.group_box_4{
    height: 70px;
    margin-bottom: 6px;
}
.group_box_4 .text_1{
    margin: 0;
    background: #d9e2f4;
    height: 100%;
    padding-top: 10px;
    font-size: 1vw;
    text-align: center;
    font-weight: bold;
    color: #797979;
    overflow-x: hidden;

}
.view_map{
    height: 630px;
}
.nav-tabs>li{
    width:100%;
    margin-bottom: 0;
}
.nav-tabs{
    border: none !important;
}
.nav-tabs .active a{
    background-color: #05ce05 !important;
    color: #fff !important;
}
.nav-tabs>li>a{
    background-color: #eee;
    border: none !important;
    border-bottom: 1px solid #ddd !important;
}
.modal-body{
    overflow: hidden;
}
.modal_bg{
    position: absolute;
    width: 100%;
    height: 98%;
    top: 0;
}
.box-img-bd-nc{
    margin-bottom: 50px;
    margin-top: 20px;
}
.bg_fff_2_fix{
    /* height: 1100px */;
}
