@font-face {

    font-family: 'UTM_HelvetIns';

    src: url('../fonts/UTMHelvetIns.eot');

    src: url('../fonts/UTMHelvetIns.eot') format('embedded-opentype'), url('../fonts/UTMHelvetIns.woff')

    format('woff2'), url('../fonts/UTMHelvetIns.woff') format('woff'), url('../fonts/UTMHelvetIns.ttf')

    format('truetype'), url('../fonts/UTMHelvetIns.svg#fontawesomeregular') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family:SFUFuturaBold;

    src: url(../fonts/SFUFuturaBold.TTF);

    url('../fonts/SFUFuturaBold.woff2?v=4.3.0') format('woff2'),

    url('../fonts/SFUFuturaBold.woff?v=4.3.0') format('woff'),

    url('../fonts/SFUFuturaBold.ttf?v=4.3.0') format('truetype'),

    url('../fonts/SFUFuturaBold.svg?v=4.3.0#fontawesomeregular') format('svg');

}

@font-face {

    font-family:OpenSansRegular;

    src: url(../fonts/OpenSansRegular.ttf);

    url('../fonts/OpenSansRegular.woff2?v=4.3.0') format('woff2'),

    url('../fonts/OpenSansRegular.woff?v=4.3.0') format('woff'),

    url('../fonts/OpenSansRegular.ttf?v=4.3.0') format('truetype'),

    url('../fonts/OpenSansRegular.svg?v=4.3.0#fontawesomeregular') format('svg');

}

@font-face {

    font-family:OpenSansBold_0;

    src: url(../fonts/OpenSansBold_0.ttf);

    url('../fonts/OpenSansBold_0.woff2?v=4.3.0') format('woff2'),

    url('../fonts/OpenSansBold_0.woff?v=4.3.0') format('woff'),

    url('../fonts/OpenSansBold_0.ttf?v=4.3.0') format('truetype'),

    url('../fonts/OpenSansBold_0.svg?v=4.3.0#fontawesomeregular') format('svg');

}



p {

    margin: 0px;

}



a {

    text-decoration: none;

    color: #333333;

}



a:hover,

a:focus {

    color: #0d7cd6;

    text-decoration: none;

}



* {

    margin: 0px;

    padding: 0px;

}



ul, ol {

    padding: 0;

    margin: 0;

}



li {

    list-style: none;

}

h1,h2,h3,h4,h5,h6{

    margin: 0;

}



.fixed {

    position: fixed !important;

    top: 0px;

    z-index: 99;

    width: 100%;

}

.clearfix-130{

    clear: both;

    height: 130px;

}

.clearfix-100{

    clear: both;

    height: 100px;

}

.clearfix-80{

    clear: both;

    height: 80px;

}

.clearfix-60{

    clear: both;

    height: 60px;

}

.clearfix-55{

    clear: both;

    height: 55px;

}

.clearfix-50{

    clear: both;

    height: 50px;

}

.clearfix-45{

    clear: both;

    height: 45px;

}

.clearfix-40{

    clear: both;

    height: 40px;

}

.clearfix-35{

    clear: both;

    height: 35px;

}

.clearfix-30{

    clear: both;

    height: 30px;

}

.clearfix-32{

    clear: both;

    height: 32px;

}

.clearfix-25{

    clear: both;

    height: 25px;

}

.clearfix-20{

    clear: both;

    height: 20px;

}

.clearfix-15{

    clear: both;

    height: 15px;

}

.clearfix-12{

    clear: both;

    height: 12px;

}

.clearfix-10{

    clear: both;

    height: 10px;

}

.clearfix-5{

    clear: both;

    height: 5px;

}



body {

    background: #fff;

    font-size: 12px;

    font-family: arial;

    color: #000;

}



del {

    font-size: 12px;

    color: #999;

}



/*===========All=============*/

.w_100 {

    width: 100%;

}



.w_40 {

    width: 40%;

}



.w_60 {

    width: 60%;

}



/*==========Main============*/

.menu_mb{

    position: fixed;

    width: 100%;

    background: #ffffff;

    z-index: 999;

    padding: 1px 15px;

    border-bottom: 1px solid #ccc;

}

#go_top {

    position: fixed;

    width: 24px;

    height: 25px;

    background: #000;

    color: #fff;

    text-align: center;

    line-height: 25px;

    font-size: 18px;

    font-weight: bold;

    background-size: 100% 100%;

    display: inline-block;

    z-index: 100;

    bottom: 25px;

    right: 25px;

}

.img_logo_mb{

    max-height: 60px;

    max-width: 70%

}

.menu_main .nav.is-fixed{

    position: relative;

    z-index: 105;

}

/* nhà quản lý -----> */

.qts_head_top{

  padding: 20px 0px;

  border-bottom: 1px solid #44aa00;

  margin-bottom: 80px;

}

.logo_pc{

  font-size: 1.5rem;

  color:#333;

  font-family:SFUFuturaBold;

  text-transform: uppercase;

}

.logo_pc a:hover{

  color:#333;

}

.logo_pc img{

  margin-right: 1.5625rem;

}

.menu_header_top{

  float: right;

}

.menu_header_top{

   margin-top: 0.625rem;

}

.menu_header_top li{

  list-style: none;

  float: left;

  padding: 0.3125rem  0.4375rem;

}

.menu_header_top li:last-child{

  padding-right: 0rem;

}

.menu_header_top li a{

  font-size: 14px;

  font-family:OpenSansRegular;

  color: #333;

  -webkit-transition: all 0.3s linear;

    -moz-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    -ms-transition: all 0.3s linear;

    transition: all 0.3s linear;

}

.menu_header_top li a:hover{

  color: #000;

  text-decoration: underline;

  -webkit-transition: all 0.3s linear;

    -moz-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    -ms-transition: all 0.3s linear;

    transition: all 0.3s linear;

}

.title_message_news{

  font-size: 1.5rem;

  color:#333;

  text-transform: uppercase;

  margin-bottom: 10px;

}

.title_message_news img{

  margin-top: -5px;

}

.box_message_news{

  padding: 15px;

  border:1px solid #ccc;

}

.list_message_news li{

  list-style: none;

  line-height: 25px;

  margin-bottom: 20px;

  padding-left:50px;

  position: relative;

  width: 100%!important;

}

.list_message_news li::after{

    position: absolute;

    content: "";

    width: 24px;

    height: 25px;

    background:url('../img/tb.png')no-repeat;

    top: 0px;

    left: 10px;

}

.list_message_news li a{

  font-size: 18px;

  color:#333;

}

.list_message_news{

  padding-bottom: 10px;

  margin-bottom: 15px;

}

.jcarouse{

  border-bottom:1px solid #44aa00;

}

.time_news{

  font-size: 13px;

  color:#999;

  font-style: italic;

}

.time_news i{

  margin-top:-5px;

  margin-right:3px;

}

.social_news{

  float: right;

  margin-top: 15px;

}

.social_news li{

  list-style: none;

  float: left;

  margin: 0px 11px;

}

.social_news li:last-child{

    margin-right: 0px;

}

.box_system img{

  height: 463px;

}

.message_news, .system{

  margin-bottom: 60px;

}

.row_4{

  margin: 0px -3.5px;

}

.pdd_4{

  padding: 0px 3.5px;

}

.box_activity{

  margin-bottom: 15px;

}

/* Float Shadow */

.hvr-float-shadow {

  /* display: inline-block; */

  vertical-align: middle;

  -webkit-transform: perspective(1px) translateZ(0);

  transform: perspective(1px) translateZ(0);

  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  position: relative;

  -webkit-transition-duration: 0.3s;

  transition-duration: 0.3s;

  -webkit-transition-property: transform;

  transition-property: transform;

}

.hvr-float-shadow:before {

  pointer-events: none;

  position: absolute;

  z-index: -1;

  content: '';

  top: 100%;

  left: 5%;

  height: 10px;

  width: 90%;

  opacity: 0;

  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);

  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);

  /* W3C */

  -webkit-transition-duration: 0.3s;

  transition-duration: 0.3s;

  -webkit-transition-property: transform, opacity;

  transition-property: transform, opacity;

}

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {

  -webkit-transform: translateY(-5px);

  transform: translateY(-5px);

  /* move the element up by 5px */

}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {

  opacity: 1;

  -webkit-transform: translateY(5px);

  transform: translateY(5px);

  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */

}

.list_report{

  float: left;

}

.list_report li{

  list-style: none;

  float: left;

  margin-right: 5px;

  margin-bottom: 15px;

}

.list_report p{

  font-size: 14px;

  font-family:OpenSansRegular;

  padding-top:5px;

  margin-right: 5px;

}

.list_report .btn{

  font-family:OpenSansBold_0;

  color:#fff;

}

.btn_excel{

  background:#71adc1;

}

.btn_w{

  background:#71c3d1;

}

.btn_pdf{

  background:#e77487;

}

.box_report{

  background: #9997cc;

  color:#fff;

  font-size: 0.85rem;

  text-transform: uppercase;

  font-weight:bold;

  height: 100px;

  padding: 18px;

  padding-top: 10px;

  line-height: 24px;

  margin-bottom: 24px;

  position: relative;

}

.link_box_report{

  color:#fff;

  display: block;

}

.link_box_report .number_report{

  color:#fff;

}

.number_report{

  font-size: 36px;

  font-weight:bold;

  position: absolute;

  bottom:60px;

  left: 20px;

}

.box_report span{

  position: absolute;

  bottom: 55px;

  right: 10px;

}

.box_report p{

  position: absolute;

  text-transform: none;

  bottom: -10px;

  font-size: 12px;

}

.box_report_2{

  background: #fd9835;

}

.box_report_3{

  background: #cb9966;

}

.box_report_4{

  background: #689a99;

}

.box_report_5{

  background: #399c33;

}

.box_report_6{

  background: #5b9bd5;

}

.box_report_7{

  background: #986299;

}

.box_report_8{

  background: #9bce99;

}

.box_report_9{

  background: #971e20;

}

.box_report_10{

  background: #6acdcc;

}

.box_report_11{

  background: #eb612b;

}

.box_report_12{

  background: #9bcdcc;

}

.link_box_report{

  opacity: 1;

  -webkit-transition: all 0.3s linear;

    -moz-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    -ms-transition: all 0.3s linear;

    transition: all 0.3s linear;

}

.link_box_report:hover{

  opacity: .65;

  -webkit-transition: all 0.3s linear;

    -moz-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    -ms-transition: all 0.3s linear;

    transition: all 0.3s linear;

}

.list_report li:nth-child(2){

  max-width: 280px;

}

.menu_header_top i{

  font-size: 20px;

}

.list_message_news li{

  height:53px!important;

}



.modal-dialog{

	margin-top:11%;

}

.btn-system{

	background:red;

	height:60px;

	color:#FF0;

	font-size:16px;

	font-weight:bold;

	display:flex;

	justify-content: center;

    align-items: center;

    max-width: 235px;

	text-transform:uppercase;

	margin-top:20px;



}

.btn-system:hover{

	color:#FF0;

}

.fix_img_modal{

	text-align: center;

}

.fix_img_modal img{

	margin:auto;

}





.box_news_datdai p{



line-height:40px;

font-size:14px;

font-weight:bold;



}

.modal-dialog-fix{

width:800px;

}

.box_cm_ql{

	padding::10px 0px;

}

.box_cm_ql .btn{

	padding: 10px 20px;

    white-space: normal;

    margin-bottom:50px;

    text-transform: uppercase;

    font-weight: bold;

    max-width: 443px;

    width: 100%;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 82px;

}

.box_cm_ql .btn img{

  margin-right: 7px;

}

.box_mergency{

  /* border: 1px solid #ccc; */

  /* padding: 7px; */

  /* box-shadow: 0 8px 6px -6px #d09898 */

}

.text_mergency i{

  display: none;

  color:#4caf50;

}

.text_mergency {

  color:#e53d32;

  font-size: 14px;

  height:108px;

  display: flex;

  align-items: center;

  justify-content: center;

  font-weight: bold;



}

.number_mergency{

  font-family:OpenSansBold_0;

  font-size: 20px;

  font-weight: bold;

  color:#4caf50;

}

.text_mergency_2{

    font-size: 9px;

    color:#aba3a3;

}

.text_report {

    position: absolute;

    bottom: 90px;

    font-size: 0.8rem;

    text-transform: none;

}

@-webkit-keyframes glowing {

    0% { color: #e53d32; }

    50% { color: #000;}

    100% {color: #e53d32;}

}



@-moz-keyframes glowing {

  0% { color: #e53d32; }

  50% { color: #000;}

  100% {color: #e53d32;}

}



@-o-keyframes glowing {

  0% { color: #e53d32; }

  50% { color: #000;}

  100% {color: #e53d32;}

}



@keyframes glowing {

  0% { color: #e53d32; }

  50% { color: #000;}

  100% {color: #e53d32;}

}

/*.text_mergency{

    -webkit-animation: glowing 500ms infinite;

    -moz-animation: glowing 500ms infinite;

    -o-animation: glowing 500ms infinite;

    animation: glowing 500ms infinite;

}*/



/* update thông số báo cáo 6 tháng  ------> */

.box_diagram_6t{

  min-height: 300px;

  font-weight: bold;

  padding: 0px 10px; 

  font-size: 18px;
  padding-top: 100px;
  /*display: flex;*/

  color:#fff;

  justify-content: center;

  align-items: center; 

  margin-bottom: 55px;

  text-align: center;

} 



.bd6t_1{

  background: #9997cc;

}

.bd6t_2{

  background: #fd9835;

}

.bd6t_3{

  background: #cb9966;

}

.bd6t_4{

  background: #689a99;

}

.bd6t_5{

  background: #399c33;

}



.bd6t_6{

  background: #1d4cb5;

}

.bd6t_7 {

    background: #986299;

}

.bd6t_8 {

    background: #9bce99;

}

.text_mergency{
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  width:220px;
  border: 1px solid #e4e4e4;
}
.sl-test{
    border-top:0.5px dotted #fff;
    position: absolute;
    bottom: 0;
    width: 90%;
}
.sl-test .item {
    font-size: 12px;
    text-transform: none;
    height:46px;
}
.list_message_news_title li{
  list-style:none;
  float: left;
  margin-right:10px;
}
.list_message_news_title li:nth-child(2){
  margin-top: 5px;
}


.list_dh2 li a{
  display: inline-block;
  font-size: 17px;
  color: #000;
  padding: 7px 0;
}
.list_dh2 li a span{
  color: red;
}
.list_dh2 li{
  list-style: disc;
  list-style-position: inside;
}
.list_dh2{
  padding: 15px;
  border: 1px solid #ccc;
}
.tit_dh2 a{
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #fff200;
  background: #006a14;
  padding: 5px;
  margin-bottom: 15px;
  position: relative;
  }
  .tit_dh2 a:before{
   pointer-events: none;
    position: absolute;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    top: calc(50% - 14px);
    right: -10px;
    border-width: 14px 0 14px 10px;
    border-color: transparent transparent transparent #006a14;
  }
  .tit_dh2 a .fa{
    margin-right: 10px;
  }

