@font-face {

    font-family: 'UTM_HelvetIns';

    src: url('../fonts/UTMHelvetIns.eot');

    src: url('../fonts/UTMHelvetIns.eot') format('embedded-opentype'), url('../fonts/UTMHelvetIns.woff')

    format('woff2'), url('../fonts/UTMHelvetIns.woff') format('woff'), url('../fonts/UTMHelvetIns.ttf')

    format('truetype'), url('../fonts/UTMHelvetIns.svg#fontawesomeregular') format('svg');

    font-weight: normal;

    font-style: normal;

}

p {

    margin: 0px;

}



a {

    text-decoration: none;

    color: #333333;

}





a:hover,

a:focus {

    color: #0d7cd6;

    text-decoration: none;

}



* {

    margin: 0px;

    padding: 0px;

}



ul, ol {

    padding: 0;

    margin: 0;

}



li {

    list-style: none;

}

h1,h2,h3,h4,h5,h6{

    margin: 0;

}



.fixed {

    position: fixed !important;

    top: 0px;

    z-index: 99;

    width: 100%;

}

.clearfix-130{

    clear: both;

    height: 130px;

}

.clearfix-100{

    clear: both;

    height: 100px;

}

.clearfix-80{

    clear: both;

    height: 80px;

}

.clearfix-60{

    clear: both;

    height: 60px;

}

.clearfix-55{

    clear: both;

    height: 55px;

}

.clearfix-50{

    clear: both;

    height: 50px;

}

.clearfix-45{

    clear: both;

    height: 45px;

}

.clearfix-40{

    clear: both;

    height: 40px;

}

.clearfix-35{

    clear: both;

    height: 35px;

}

.clearfix-30{

    clear: both;

    height: 30px;

}

.clearfix-32{

    clear: both;

    height: 32px;

}

.clearfix-25{

    clear: both;

    height: 25px;

}

.clearfix-20{

    clear: both;

    height: 20px;

}

.clearfix-15{

    clear: both;

    height: 15px;

}

.clearfix-12{

    clear: both;

    height: 12px;

}

.clearfix-10{

    clear: both;

    height: 10px;

}

.clearfix-5{

    clear: both;

    height: 5px;

}



body {

    background: #fff;

    font-size: 12px;

    font-family: arial;

    color: #000;

}



del {

    font-size: 12px;

    color: #999;

}



/*===========All=============*/ 

.w_100 {

    width: 100%;

}



.w_40 {

    width: 40%;

}



.w_60 {

    width: 60%;

}



/*==========Main============*/

.menu_mb{

    position: fixed;

    width: 100%;

    background: #ffffff;

    z-index: 999;

    padding: 1px 15px;

    border-bottom: 1px solid #ccc;

}

#go_top {

    position: fixed;

    width: 24px;

    height: 25px;

    background: #000;

    color: #fff;

    text-align: center;

    line-height: 25px;

    font-size: 18px;

    font-weight: bold;

    background-size: 100% 100%;

    display: inline-block;

    z-index: 100;

    bottom: 25px;

    right: 25px;

}

.img_logo_mb{

    max-height: 60px;

    max-width: 70%

}

.menu_main .nav.is-fixed{

    position: relative;

    z-index: 105;

}

/*========================================================*/

.text_primary {

    color: #000;

    font-size: 25px;

    padding:9.5px 15px;

}

.side_menu .tit_side_menu {

        line-height: 1.5;

        margin-top: 0px ;
        /*font-size: 17px;*/
       font-size: 15px;

    font-weight: bold;

    padding-right: 10px ;

    padding-left: 10px ;

    color: #fff ;

    white-space: normal;

    text-align: center;

    margin-bottom: 10px;

    min-height: 50px;

        max-height: 50px;
        background: #229cff;

    overflow: hidden;

    -webkit-box-orient: vertical;

    text-overflow: ellipsis;

    white-space: normal;

    -webkit-line-clamp: 3;

    display: -webkit-box

}

.box_ct_slide h4{

font-size: 16px;

    margin-bottom: 10px;

    color: #cccc66;

    white-space: nowrap;

}

.box_ct_slide .number-data{



    font-size: 30px;

    color: white;

    font-family: helvetica;

    font-weight: bold;

}

.box_ct_slide .text-white {

    font-size: 20px;

    color: #fff;

}

.ttdh {

   /* background: url(../img/desktop.jpg) no-repeat;*/

    -webkit-background-size: cover;

         -o-background-size: cover;

            background-size: cover;

    min-height: 100vh;
    background: #fff;

}

.side_menu {

    width: 100%;

    padding: 10px 3px 3px;

    font-size: x-large;

    min-height: 200px;

    background: rgba(255, 255, 255, 0.8);

    

}

.box_ct_slide {

    text-align: center;

}

.box_ct_mid table tr td {

    border: 0 !important;

    font-size: 14px;

    line-height: 23px;

    padding: 0 !important;

}

.box_ct_mid table tr td .fa {

    margin-right: 5px;

}

.box_ct_mid .panel-heading{

  background: #f4516c !important;

    color: #FFF;

        border-bottom-color: #2c97de!important;

            font-size: 17px;

    font-weight: bold;

}

.box_ct_mid .panel-body {

    /* background: rgba(255, 255, 255, 0.8) !important;*/
         background: rgb(245, 245, 245) !important;

    color: #000;

    border: 0;

    font-size: 13px;

}

.box_ct_mid .panel {

    border: 0;

    background: none;

}

.box_ct_mid  .table {

    margin:0;

}

.color_blue {

    color: #5eff5b;

}

.color_red {

    color: red;

}

.color_blue2 {

    color: #2c97de;

}

.fix_height1 {

    min-height: 260px;

}

.fix_height2 {

    min-height: 245px;

}

/*.side_menu:hover {

        color: #fff;

    background-color: #1a567f;

    border-color: #133f5d;

    cursor: pointer;

}*/

/*=============================slider doc=========================*/

.box_ct_slide .jcarouse ul li  {

font-size: 15px;

color: #000;

padding: 0 5px;

min-height: 88px;

max-height: 88px;

overflow: hidden;

-webkit-box-orient: vertical;

text-overflow: ellipsis;

white-space: normal;

-webkit-line-clamp: 4;

display: -webkit-box

}

.side_menu .xemchitiet {

    text-align: right;

}

.side_menu .xemchitiet a {

    display: inline-block;

    font-size: 14px;

    color: #000;

}

.side_menu .xemchitiet a:hover {

    text-decoration: underline;

    color: #ad3f3f;



}

.box_ct_mid .jcarouse2 ul li {

    line-height: 22px;

    position: relative;

}

.box_ct_mid .jcarouse2 ul li span {

    display: inline-block;

    float:right;

    right: 0;

    width: 5%;

}

.box_ct_mid .jcarouse2 ul li a {

    color: #fff;

    width: 85%;

    display: inline-block;

}

.box_ct_mid .jcarouse2 ul li a .fa {

    margin-right: 5px;

}

.box_ct_mid .jcarouse2 ul li a:hover {

    text-decoration: underline;

}

.box_ct_mid .panel-body  ul li {

    line-height: 20px;

}

.box_ct_mid .panel-body  ul li a{

    color: #000;

    font-size: 14px;

    

}

.box_ct_mid .panel-body  ul li a .fa {

    margin-right: 5px;

}

.box_ct_mid .panel-body  ul li a:hover {

    text-decoration: underline;

}

.title-page-sec {

    font-size: 20px;

    text-transform: uppercase;

    color: #01adef;

    padding: 15px 15px 15px 15px;

    font-weight: bold;

    

        margin: 0 -15px;

}

.title-page-sec a {

    color: #000;

}

.highcharts-background{

   fill: transparent !important;

}

.highcharts-credits{

    display: none !important;

}

.search_header h3{

	font-size: 16px;

	margin-bottom: 10px;

	color: #1042b5;

	font-weight: bold;

}

.search_header p{

	font-size: 12px;

	font-weight: bold;

}

.form_search{

	margin-top: 10px;

}

.form_search .btn.btn-default{

	background: #6d180b;

	color: #fff;

}

.search-body ul{

	display: flex;

	flex-wrap: wrap;

	margin: 0 -10px;

	padding: 15px 0;

}

.search-body ul li{

	width: 33.333%;

	padding: 0 5px;

}

.search-body ul li a{

	display: block;

	font-size: 12px !important;

	color: #000;

	display: flex;

	align-items: center;

	padding: 5px;

	background: -moz-linear-gradient(90deg, #CEED9C 0, #f0f7ee 100%);/* FF3.6+ */

background: -webkit-gradient(linear, 90deg, color-stop(0, CEED9C), color-stop(100%, f0f7ee));/* Chrome,Safari4+ */

background: -webkit-linear-gradient(90deg, #CEED9C 0, #f0f7ee 100%);/* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(90deg, #CEED9C 0, #f0f7ee 100%);/* Opera 11.10+ */

background: -ms-linear-gradient(90deg, #CEED9C 0, #f0f7ee 100%);/* IE10+ */

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */

background: linear-gradient(90deg, #CEED9C 0, #f0f7ee 100%);/* W3C */

border-radius: 5px;

min-height: 50px;

margin-bottom: 10px;

}

.search-body ul li a img{

	margin-right: 7px;

	width: 30px;

	

}



.menu_header_top{



  float: right;



}



.menu_header_top{



   margin-top: 2.625rem;



}



.menu_header_top li{



  list-style: none;



  float: left;



  padding: 0.3125rem  0.4375rem;



}



.menu_header_top li:last-child{



  padding-right: 0rem;



}



.menu_header_top li a{



  font-size: 14px;







  color: #333;



  -webkit-transition: all 0.3s linear;



    -moz-transition: all 0.3s linear;



    -o-transition: all 0.3s linear;



    -ms-transition: all 0.3s linear;



    transition: all 0.3s linear;



}



.menu_header_top li a:hover{



  color: #000;



  text-decoration: underline;



  -webkit-transition: all 0.3s linear;



    -moz-transition: all 0.3s linear;



    -o-transition: all 0.3s linear;



    -ms-transition: all 0.3s linear;



    transition: all 0.3s linear;



}

.header_nguoidan{

	background: rgba(255, 255, 255, 0.8);

	margin: 0 -15px;

}



.form_ykien textarea.form-control{

	height: 70px;

}

.link_yk .fa-facebook{

	font-size: 18px;

	color: #3b5998;

}

.link_yk .fa-twitter{

	font-size: 18px;

	color: #1da1f2;

}

.link_yk .fa-skype{

	font-size: 18px;

	color: #01aef2;

}



.link_yk .fa-phone{

	font-size: 18px;

	color: red;

}


.modal-footer{
    border-top: 0px solid #e5e5e5;
}
.red_vang{
    color: #eae519;
}
.fixselboder{
    border: 1px solid #ebedf2;

}

.fixselboder1{

    border: 1px solid #ebedf2;
        background: #f5f5f5;
}
.disfix{
    border-bottom: 1px solid #ebedf2;
    background: whitesmoke;
}
 .khancap{
        padding: 5px 5px;
 }

/*tim kiếm*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
 
.fixcode option{
    font-size: 13px;

}
.fixcode{

    width: 100%;
    font-size: 13px;
}