@font-face {

    font-family: 'UTM_HelvetIns';

    src: url('../fonts/UTMHelvetIns.eot');

    src: url('../fonts/UTMHelvetIns.eot') format('embedded-opentype'), url('../fonts/UTMHelvetIns.woff')

    format('woff2'), url('../fonts/UTMHelvetIns.woff') format('woff'), url('../fonts/UTMHelvetIns.ttf')

    format('truetype'), url('../fonts/UTMHelvetIns.svg#fontawesomeregular') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face { 
    font-family:SFUFuturaBold; 
    src: url(../fonts/SFUFuturaBold.TTF);

    url('../fonts/SFUFuturaBold.woff2?v=4.3.0') format('woff2'),

    url('../fonts/SFUFuturaBold.woff?v=4.3.0') format('woff'),

    url('../fonts/SFUFuturaBold.ttf?v=4.3.0') format('truetype'),

    url('../fonts/SFUFuturaBold.svg?v=4.3.0#fontawesomeregular') format('svg');

}



@font-face {

    font-family:OpenSansRegular;

    src: url(../fonts/OpenSansRegular.ttf);

    url('../fonts/OpenSansRegular.woff2?v=4.3.0') format('woff2'),

    url('../fonts/OpenSansRegular.woff?v=4.3.0') format('woff'),

    url('../fonts/OpenSansRegular.ttf?v=4.3.0') format('truetype'),

    url('../fonts/OpenSansRegular.svg?v=4.3.0#fontawesomeregular') format('svg');

}

@font-face {

    font-family:OpenSansBold_0;

    src: url(../fonts/OpenSansBold_0.ttf);

    url('../fonts/OpenSansBold_0.woff2?v=4.3.0') format('woff2'),

    url('../fonts/OpenSansBold_0.woff?v=4.3.0') format('woff'),

    url('../fonts/OpenSansBold_0.ttf?v=4.3.0') format('truetype'),

    url('../fonts/OpenSansBold_0.svg?v=4.3.0#fontawesomeregular') format('svg');

}

html{

  font-size: 14px;

}

p {

    margin: 0px;

}



a {

    text-decoration: none;

    color: #333333;

}



a:hover,

a:focus {

    color: #0d7cd6;

    text-decoration: none;

}



* {

    margin: 0px;

    padding: 0px;

}



ul, ol {

    padding: 0;

    margin: 0;

}



li {

    list-style: none;

}

h1,h2,h3,h4,h5,h6{

    margin: 0;

}



.fixed {

    position: fixed !important;

    top: 0px;

    z-index: 99;

    width: 100%;

}

.clearfix-130{

    clear: both;

    height: 130px;

}

.clearfix-100{

    clear: both;

    height: 100px;

}

.clearfix-80{

    clear: both;

    height: 80px;

}

.clearfix-60{

    clear: both;

    height: 60px;

}

.clearfix-55{

    clear: both;

    height: 55px;

}

.clearfix-50{

    clear: both;

    height: 50px;

}

.clearfix-45{

    clear: both;

    height: 45px;

}

.clearfix-40{

    clear: both;

    height: 40px;

}

.clearfix-35{

    clear: both;

    height: 35px;

}

.clearfix-30{

    clear: both;

    height: 30px;

}

.clearfix-32{

    clear: both;

    height: 32px;

}

.clearfix-25{

    clear: both;

    height: 25px;

}

.clearfix-20{

    clear: both;

    height: 20px;

}

.clearfix-15{

    clear: both;

    height: 15px;

}

.clearfix-12{

    clear: both;

    height: 12px;

}

.clearfix-10{

    clear: both;

    height: 10px;

}

.clearfix-5{

    clear: both;

    height: 5px;

}



body {

    background: #fff;

    font-size: 12px;

    font-family: arial;

    color: #000;

}



del {

    font-size: 12px;

    color: #999;

}



/*===========All=============*/

.w_100 {

    width: 100%;

}



.w_40 {

    width: 40%;

}



.w_60 {

    width: 60%;

}



/*==========Main============*/

.menu_mb{

    position: fixed;

    width: 100%;

    background: #ffffff;

    z-index: 999;

    padding: 1px 15px;

    border-bottom: 1px solid #ccc;

}

#go_top {

    position: fixed;

    width: 24px;

    height: 25px;

    background: #000;

    color: #fff;

    text-align: center;

    line-height: 25px;

    font-size: 18px;

    font-weight: bold;

    background-size: 100% 100%;

    display: inline-block;

    z-index: 100;

    bottom: 25px;

    right: 25px;

}

.img_logo_mb{

    max-height: 60px;

    max-width: 70%;

}

.menu_main .nav.is-fixed{

    position: relative;

    z-index: 105;

}

/* footer -----> */

body{

  background: #fefefe;

}

.title-qc{

    background-color: #FF6500; 
    border-color: #FF6500; 
    color: #fff; 
    font-size: 1.3rem; 
    font-weight: bold; 
    height: 53px; 
    display: flex; 
    text-transform: uppercase; 
    align-items: center; 
    padding-left: 40px; 
    font-family:OpenSansRegular;

}

.box_business_index{

  padding: 20px 10px 0px 10px;

  background: #fff;

  text-align: center;

  margin: 0px 6px;

  box-shadow: 0px 0px 5px #ccc;

}

.text-qh{

  text-align: center;

  font-size: 1.7rem;

}

.box_business_qh{

  border:1px solid #ccc;

  color: #1f8436;

  margin-bottom: 20px;

}

.number_qh{

    font-size: 2rem;

    font-weight: bold;

    margin-top:5px;

}

.box_business_qh{

  padding: 5px 3px;

}

.box_business_qh.active{

    color:#E42936;

}

.title_mission{

  background-color: #f4516c; 
  border-color: #f4516c; 
  display: flex; 
  align-items: center; 
  font-size: 1.3rem; 
  font-weight: 500; 
  font-family:OpenSansRegular; 
  height: 52px; 
  padding: 0px 15px;

  color: #fff;

}

.content_mission{

  background: #fff;

  padding: 15px;

  border: 1px solid #ccc;

  border-top: 0px solid #ccc;

  box-shadow: 0px 0px 5px #ccc;

  margin-bottom: 30px;

}

.nav_mission{

  text-align: center;

}

.nav_mission>li{

  margin-right:7px;

  width: 22%;

  display: inline-block;

  float: none;

}

.nav_mission>li:last-child{

  margin-right: 0px;

}

.nav_mission>li>a{

    border-radius: 4px ;

     text-align: center;

}

.nav_mission>li.active>a, .nav_mission>li.active>a:hover, .nav_mission>li.active>a:focus{

    border-bottom-color:#FF6500;

    background:#FF6500;

    color:#fff;

}

.nav_mission>li>a:hover{

  color:#000;

}

.nav_mission>li>a{

    border:1px solid #ddd;

    font-weight: 400;

    font-size: 14px;

}



.nav_mission{

  border-bottom: 0px;

  margin-bottom: 15px;

}

.nav-tabs>li>a:hover {

    border: 1px solid #ddd;

}

.ct-slice-donut{

    fill: none;

}

.m-widget27__stat{

  position: absolute;

  font-size: 40px;

  top: 0px;

  left: 0px;

  right: 0px;

  bottom: 0px;

  margin: auto;

  text-align: center;

  align-items: center;

  display: flex;

  justify-content: center;

  font-weight: bold;

  color:#dadbe2;

}

.list_ts_mission{

  margin-top: 18%;

}

.list_ts_mission span{

  width: 1.5rem;

  height: .45rem;

  display: inline-block;

  border-radius: 1.1rem;

  margin: 0 1rem .1rem 0;

}

.list_ts_mission li{

  color: #a4a6ae;

  line-height: 30px;

}

.color1{

  background: #9816f4

}

.color2{

    background:#34bfa3;

}

.color3{

  background:#f4516c;

}

.color4{

  background: #36a3f7;

}

.color5{

    background:#f4516c;

}

.color6{

  background:#ff6500;

}

.color7{

  background: #ffb822;

}

.color8{

    background:#5867dd;

}

.color9{

  background:#f4516c;

}

/* update 29/8/2018  -----> */



.logo_pc {

    font-size: 1.5rem;

    color: #333;

    font-family:SFUFuturaBold;

    text-transform: uppercase;

}

.menu_header_top i {

    font-size: 20px;

}

.menu_header_top li {

    list-style: none;

    float: left;

    padding: 0.3125rem 0.4375rem;

}

.menu_header_top {

    margin-top: 0.625rem;

}

.menu_header_top {

    float: right;

}

.menu_header_top li a {

    font-size: 14px;

    font-family: OpenSansRegular;

    color: #333;

    -webkit-transition: all 0.3s linear;

    -moz-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    -ms-transition: all 0.3s linear;

    transition: all 0.3s linear;

}

.qts_head_top {

    padding: 20px 0px;

    border-bottom: 1px solid #44aa00;

    margin-bottom: 80px;

}

.qts_ldb{

  margin-bottom: 50px;

}

.qts_ldb .container-fluid-fix{

    padding: 0px 45px;

}



.title_message_news {

    font-size: 1.5rem;

    color: #333;

    text-transform: uppercase;

    margin-bottom: 10px;

}

.title_message_news img {

    margin-top: -5px;

}

.box_ldb {

    max-width: 295px;

    text-align: center;

    margin: auto;

    margin-bottom: 30px;

}

.box_ldb img{

  max-width: 100%;

  margin: auto;

  box-shadow: 0 8px 6px -6px black;

  margin-bottom: 23px;

}

.name_ldb{

  font-size: 14px;

  color:#015ad4;

  font-family:OpenSansBold_0;

  line-height: 21px;

}

/* updadate lịch làm việc -----> */
.nav-ldb{
    float: left;
    border-bottom:0px;
}

.nav-ldb>li{
    float:none;
    display:inherit;
    border:1px solid #ccc;
    border-radius:5px;
    margin-bottom:10px;
    margin-right:20px;
    background-color: #eee;
}
.nav-ldb>li span{
  font-size: 14px;
  display: block;
  text-align: center;
}
.nav-ldb>li>a{
  display: block;
  text-align: center;
  border:none;
  font-size:10px;
  font-weight: bold;
  font-family:OpenSansBold_0;
  text-transform: uppercase;
}
.nav-ldb>li>a:hover{
  border:none;
}
.nav-ldb>li.active>a, .nav-ldb>li.active>a:hover, .nav-ldb>li.active>a:focus{
  border:none;
  background:inherit;
  color: yellow;
}
.nav-ldb>li.active{
    background:red;
   border:1px solid red;
}
.title_his_ldb{
  font-size: 14px;
  color: #333;
}
.nav-time-ldb{
  float: left;
  width: 80%;
  border-bottom: 0px;
}
.tab-content-time-ldb{
    float: left;
    display: block;
    width: 85%;
}
.table_tt_ld{
  border:1px solid #ccc;
}
.table_tt_ld td{
  border-right: 1px solid #ccc;
}
.table_tt_ld td:first-child{
  text-align: center;
}
.table_tt_ld td:first-child img{
    max-width: 100%;
    margin: auto;
}
.box_tt_ld , .box_ts_ld{
  font-size: 14px;
  color:#333;
  line-height: 24px;
}
.table_tt_ld th{
  text-align: center;
}
.name-table-box{
  font-size: 16px;
  color:#333;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: bold;
  display: none;
}
.table_time_day{
  border:1px solid #ccc;
  font-size: 14px;
  line-height: 23px;
  min-height: 300px;
}
.table_time_day td:last-child{
  border-right:0px;
}
.table_time_day td{
  border-right:1px solid #ccc;
}


/* update thông số lãnh đạo bộ -----> */
.lanhdaobo .tit_lanhdaobo img {
        margin-top: -5px;
        margin-right: 10px;
}
.lanhdaobo .tit_lanhdaobo {
        font-size: 24px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 10px

}
.img_botruong {
    max-width: 190px;
    max-height: 190px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    border: 6px solid #e2e2e0;
}
.img_botruong img {
    width: 100%;

}
.box_botruong {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.sub_box_botruong .name{
font-size: 18px;
/*text-transform: uppercase;*/
color: #000000;
/*font-weight: bold;*/
border-bottom: 6px solid #e2e2e0;
padding: 0 5px 5px;
}
.sub_box_botruong .level {
    display: block;
    margin-top: 10px;
    padding: 0 5px;
    font-size: 14px;
    color: #333333;
}
.box_botruong2 .img_botruong {
    max-width: 145px;
    max-height: 145px;
    width: 100%;
    height: 100%;

}
.box_botruong2 .sub_box_botruong .name {
    /*font-size: 14px;*/
} 
.highcharts-credits{
	display: none;
}
.item_color_tsyk{
  width:25px;
  height:15px;
  background:#7cb5ec;
}
.color_tsyk_2{
  background:orange;
}
.color_tsyk_3{
  background:#dffada;
}
.color_tsyk_4{
  background:#f9b983;
}
.list_tsyk li{
  list-style: none;
  float: left;
  margin-left: 10px;
  font-size: 14px;
  color:#333;
}
.list_tsyk li span{
  display: inline-block
} 
.highcharts-axis-title tspan{
    display: none;
}
.title_box_qh{
  padding: 16px 10px;
}
.highcharts-legend{
  display: none!important;
}
.list_bd_nl{
  text-align: left;
}
.list_bd_nl li{
  list-style: none; 
  font-size: 14px;
  color:#333;
  display: block;
  padding: 5px 0px;
  border-bottom: 1px solid #ccc;
}
.item_bd_nl_1{
   display: inline-block;
    
}
.item_bd_nl_2{
  display: inline-block;
   float: right;
}
.color_tsyk_5{
  background:#7cb5ec;
}
.color_tsyk_6{
  background:#ff000085;
}
.list_tsyk_bd_ns li{
  width: 100%;
}
.list_tsyk_bd_ns li span{
  margin-right: 10px;
}
.list_bieudo112{
  margin-top: -25px;
}
.box_botruong2_fix {
  margin-top:15px;
}
.box_botruong2_fix .img_botruong{
    max-width: 85px;
    max-height: 85px; 
}
.box_botruong2_fix .sub_box_botruong .name{
  font-size: 13px;
}


.content_mission .form-group label{
  margin-right: 15px;
}
.content_mission .form-group .form-control{
  width: 50%;
  display: inline-block;
}
.content_mission .form-group{
  text-align: center;
}
.bieudo-yk path.highcharts-point.highcharts-color-1{
    fill: orange;
}
#box-container path.highcharts-point.highcharts-color-1, #box-container2 path.highcharts-point.highcharts-color-1, #box-container3 path.highcharts-point.highcharts-color-1{
      fill: rgba(255, 0, 0, 0.47);
}


.content_chiso rect.highcharts-point.highcharts-color-1, .content_chiso path.highcharts-point.highcharts-color-1{
    fill: #ff000085;
}
.content_folow3_fix{
  background:rgb(255, 101, 0);
}
.content_folow3_fix a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit!important;
}