@font-face {

    font-family: 'UTM_HelvetIns';

    src: url('../fonts/UTMHelvetIns.eot');

    src: url('../fonts/UTMHelvetIns.eot') format('embedded-opentype'), url('../fonts/UTMHelvetIns.woff')

    format('woff2'), url('../fonts/UTMHelvetIns.woff') format('woff'), url('../fonts/UTMHelvetIns.ttf')

    format('truetype'), url('../fonts/UTMHelvetIns.svg#fontawesomeregular') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family:OpenSansRegular;

    src: url(../fonts/OpenSansRegular.ttf);

    url('../fonts/OpenSansRegular.woff2?v=4.3.0') format('woff2'),

    url('../fonts/OpenSansRegular.woff?v=4.3.0') format('woff'),

    url('../fonts/OpenSansRegular.ttf?v=4.3.0') format('truetype'),

    url('../fonts/OpenSansRegular.svg?v=4.3.0#fontawesomeregular') format('svg');

}

p {

    margin: 0px;

}



a {

    text-decoration: none;

    color: #333333;

}



a:hover,

a:focus {

    color: #0d7cd6;

    text-decoration: none;

}



* {

    margin: 0px;

    padding: 0px;

}



ul, ol {

    padding: 0;

    margin: 0;

}



li {

    list-style: none;

}

h1,h2,h3,h4,h5,h6{

    margin: 0;

}



.fixed {

    position: fixed !important;

    top: 0px;

    z-index: 99;

    width: 100%;

}

.clearfix-130{

    clear: both;

    height: 130px;

}

.clearfix-100{

    clear: both;

    height: 100px;

}

.clearfix-80{

    clear: both;

    height: 80px;

}

.clearfix-60{

    clear: both;

    height: 60px;

}

.clearfix-55{

    clear: both;

    height: 55px;

}

.clearfix-50{

    clear: both;

    height: 50px;

}

.clearfix-45{

    clear: both;

    height: 45px;

}

.clearfix-40{

    clear: both;

    height: 40px;

}

.clearfix-35{

    clear: both;

    height: 35px;

}

.clearfix-30{

    clear: both;

    height: 30px;

}

.clearfix-32{

    clear: both;

    height: 32px;

}

.clearfix-32{

    clear: both;

    height: 31px;

}

.clearfix-25{

    clear: both;

    height: 25px;

}
.clearfix-23{

    clear: both;

    height: 23px;

}
.clearfix-20{

    clear: both;

    height: 20px;

}

.clearfix-15{

    clear: both;

    height: 15px;

}

.clearfix-12{

    clear: both;

    height: 12px;

}

.clearfix-10{

    clear: both;

    height: 10px;

}

.clearfix-5{

    clear: both;

    height: 5px;

}

.image_box .img-thumb img{
    max-height: 88px;
    width: 95%;
}



body {

    background: #fff;

    font-size: 12px;

    font-family: arial;

    color: #000;

}



del {

    font-size: 12px;

    color: #999;

}



/*===========All=============*/

.w_100 {

    width: 100%;

}



.w_40 {

    width: 40%;

}



.w_60 {

    width: 60%;

}



/*==========Main============*/

.menu_header_top{

  float: right;

}

.menu_header_top{

   margin-top: 2.625rem

}

.menu_header_top li{

  list-style: none;

  float: left;

  padding: 0.3125rem  0.4375rem;

}

.menu_header_top li:last-child{

  padding-right: 0rem;

}

.menu_header_top li a{

    color: #fff !important;

  font-size: 14px;

  font-family:OpenSansRegular;

  color: #333;

  -webkit-transition: all 0.3s linear;

    -moz-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    -ms-transition: all 0.3s linear;

    transition: all 0.3s linear;

}

.menu_header_top i {
    font-size: 20px;
}

.menu_header_top li a:hover{

  color: #000;

  text-decoration: underline;

  -webkit-transition: all 0.3s linear;

    -moz-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    -ms-transition: all 0.3s linear;

    transition: all 0.3s linear;

}


.menu_mb{

    position: fixed;

    width: 100%;

    background: #ffffff;

    z-index: 999;

    padding: 1px 15px;

    border-bottom: 1px solid #ccc;

}

#go_top {

    position: fixed;

    width: 24px;

    height: 25px;

    background: #000;

    color: #fff;

    text-align: center;

    line-height: 25px;

    font-size: 18px;

    font-weight: bold;

    background-size: 100% 100%;

    display: inline-block;

    z-index: 100;

    bottom: 25px;

    right: 25px;

}

.img_logo_mb{

    max-height: 60px;

    max-width: 70%

}

.menu_main .nav.is-fixed{

    position: relative;

    z-index: 105;

}

/*========================================================*/

.text_primary {

    color: #2c97de;

    font-size: 16px;

    padding:9.5px 15px;

}

.side_menu .tit_side_menu {

        margin-top: 0px ;

    font-size: 16px ;

    padding-right: 10px ;

    padding-left: 10px ;

    color: #6666cc ;

    white-space: normal;

    text-align: center;

    margin-bottom: 10px;

    min-height: 50px;

        max-height: 50px;

    overflow: hidden;

    -webkit-box-orient: vertical;

    text-overflow: ellipsis;

    white-space: normal;

    -webkit-line-clamp: 2;

    display: -webkit-box

}

.box_ct_slide h4{
    display: none;

font-size: 16px;

    margin-bottom: 10px;

    color: #cccc66;

    white-space: nowrap;

}

.box_ct_slide .number-data{



    font-size: 30px;

    color: white;

    font-family: helvetica;

    font-weight: bold;

}

.box_ct_slide .text-white {

    font-size: 20px;

    color: #fff;
    display: none;

}

.ttdh {

    background: #212121;

    min-height: 100vh;

}

.side_menu {

    width: 100%;

    padding: 10px 3px 3px;

    font-size: x-large;

    height: 200px;

    border: 1px solid #1f6494;

}

.box_ct_slide {

    text-align: center;

}

.box_ct_mid table tr td {

    border: 0 !important;

    font-size: 14px;

    line-height: 23px;

    padding: 0 !important;

}

.box_ct_mid table tr td .fa {

    margin-right: 5px;

}

.box_ct_mid .panel-heading{

    background: #262626 !important;

    color: #34d80b;

    border-bottom-color: #2c97de!important;

    font-size: 13px;

    text-transform: uppercase;

}

.box_ct_mid .panel-body {

     background: #262626 !important;

    color: #fff;

    border: 0;

    font-size: 13px;

}

.box_ct_mid .panel {

    border: 0;
    margin-bottom: 0;

}

.box_ct_mid  .table {

    margin:0;

}

.color_blue {

    color: #5eff5b;

}

.color_red {

    color: red;

}

.color_blue2 {

    color: #2c97de;

}

.fix_height1 {

    min-height: 190px;

}

.fix_height2 {

    min-height: 166px;

}
.fix_height3 {
    min-height: 170px;
}

.fix_height4 {
    min-height: 140px;
}

.fix_height5 {
    min-height: 150px;
}

.fix-margin {
    margin-top: -12px;
}

.side_menu:hover {

        color: #fff;

    background-color: #1a567f;

    border-color: #133f5d;

    cursor: pointer;

}



.title-page-sec {

    font-size: 20px;

    text-transform: uppercase;

    color: #01adef;



    padding: 15px 15px 0px 15px;

    font-weight: bold;

}

.title-page-sec a {

    color: #01adef;

} 

.btn-support-tax{ 
    background: #ff0000;
    color:#ffff00; 
    width: 100%;
    font-weight: bold;
    padding: 12px 15px;
    text-transform: uppercase;
}
.btn-support-tax:hover, .btn-support-tax:focus, .btn-support-tax.focus{
    color:#fff;
}
.btn-support-tax:hover{ 
    color: #fff; 
}

#support-tax .modal-header, #support-sent .modal-header{ 
    background:red!important; 
    color:#fff; 
}

#support-tax .modal-content{

  text-align: center;

  padding: 10px;

}

#support-tax .modal-content img{

  max-width: 100%;

  margin: auto;

}
.fix_height1 .highcharts-legend , .fix_height1 .highcharts-credits, .fix_height1 .highcharts-exporting-group{
      display: none!important;
   }
.table_color{
    color:#fff;
}
.table_fix_dh td th:first-child{
    width: 35%;
}
.table_fix_dh td th:last-child{
    width: 65%;
}
.modal-dialog-fix-dh{
    width: 800px;
} 
.modal-dialog-fix-dh .modal-title{
    text-transform: uppercase;
}
/*update 4/9/2018 ----->*/

.text_primary marquee{
    color: #fff;
}
.side_menu .tit_side_menu{
    color: #fff;
	text-transform: uppercase;
    padding-top: 3px;

}
.fix_height1 .color_blue2{
    color:#fff;
}
.panel-heading img {
    margin-bottom: 3px;
}

.table_center_link .btn_link {
    margin-bottom: 12px;
    width: 90%; 
    border: none;
    height: 40px;
}
.table_center_link .btn_link:hover {
    background-color: #ff1010;
    opacity: 0.9;
}
.table_center_link tr td {
    text-align: center;
}
.btn_link_1 {
    background: #ff1010 url('../img/icon_cen_link.png') no-repeat center center;
    background-size: 100% 100%;
}
.btn_link_2 {
    background: #ff1010 url('../img/icon_qn_link.png') no-repeat center center;
    background-size: 90% 93%;
}
.btn_link_3 {
    background: #ff1010 url('../img/icon_hcm_link.png') no-repeat center center;
    background-size: 90% 90%;
}
.btn_link_4 {
    background: #ff1010 url('../img/icon_bd_link.png') no-repeat center center;
    background-size: 90% 90%;
}

.view_more_link a {
    color: #34d80b;
}
.panel-heading-fix {
    padding: 5px 15px;
}
.panel-body-fix {
    padding-bottom: 5px;
    padding-top: 10px;
}
.panel-body-fix2 {
    padding: 5px 0 10px 0;
}
.side_menu a {
    display: inline-block;
    height: 200px;
    width: 100%;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
