

@media (min-width:1200px) /* lg*/ {
    .row_pc{
        margin-right: -15px;
        margin-left: -15px;
    }
    .container{
        width: 1200px;
    }
}

@media (min-width:992px) and (max-width:1199px) /* md*/{
  .list_link_hd{
    float: left !important;
  }
  .text_home {
    top: 50%;
    transform: translateY(-50%);
    /* text-align: center; */
  }
}

@media (min-width:768px) and (max-width:991px) /* sm*/{
  .sc_header_menu.sticky-header{
      position: relative !important;
  }
  .menu_mb {
    background: #0808084f;
  }
  .text_home h2 {
    font-size: 30px;
    white-space: nowrap;
    word-break: break-word;
  }
  .nav-toggle {
    background-color: #08080800;
    outline: none;
  }
  .nav-menu {
    background-color: #333;
    text-align: left;
  }
  .text_home {
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width:767px) /* xs*/{
  .sc_header_menu.sticky-header{
      position: relative !important;
  }
  .menu_mb {
    background: #0808084f;
    border-bottom: 1px solid transparent;
  }
  .nav-toggle {
    background-color: #0d7cd600;
    outline: none;
  }
  .nav-menu {
    background-color: #333;
    text-align: left;
  }
  .text_home h2 {
    font-size: 25px;
    white-space: nowrap;
    word-break: break-word;
  }
  .text_home h3 {
    font-size: 20px;
  }
  .foot_bot ul li {
      display: inline-block;
      padding: 0px 6px;
  }
  .title_knowledge h2{
    font-size: 20px;
  }
  .icon_knowledge, .sub_knowledge {
    font-size: 12px;
  }
  .button_knowledge .pull-left button {
    font-size: 12px;
    padding: 12px 20px;
  }
  .button_knowledge .pull-right button {
    font-size: 12px;
    padding: 14px;
  }
  .categories {
    margin-top: 50px;
  }
  .text_home {
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width:480px) {
  .col-480-12{
      width: 100% !important;
  }
  .col-480-6{
      width: 50% !important;
  }
  .hidden-480{
      display: none !important;
  }
  .visible-480{
      display: block !important;
  }
  .foot_bot ul li {
    padding: 0px 8px;
    font-size: 10px;
  }
  .foot_bot ul li a {
    font-size: 10px;
  }
  .text_home h2 {
    font-size: 20px;
  }
  .text_home h3 {
    font-size: 15px;
  }

  /*about_us*/
  .calendar {
    font-size: 14px;  
    padding: 15px 30px;
    line-height: 25px;
  }
  .sub_us h3 {
    font-size: 20px;
  }
  .text_about_us {
    font-size: 13px;
    line-height: 20px;
  }

  /*our_people*/
  .title_people h2 {
    font-size: 25px;
  }

  .text_home {
    top: 50%;
    transform: translateY(-50%);
  }
}


.visible-480{
    display: none;
}




